@mixin list-item {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid lightgrey;
  border-radius: 5px;

  user-select: none;

  transition: all 0.2s;

  height: 200px;
}

@mixin flex-center {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

@mixin grid-system {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 3rem;

  margin-top: 1.5rem;
}
